 <header id="site-header">
    <div class="navbar">
      <div class="container clearfix">
        <a href="" class="brand">T</a>
        <nav id="site-nav" class="nav-right">
          <ul>
            <li><a href="#about-me">About Me</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
   </div>
    <div class="container">
      <div class="banner">
        <h1 class="header-title">Hi, I'm <br> <span class="author-name">BAILEY GRAHAM</span></h1>
        <p class="slogan"><h1 class="typing-text" ></h1></p>
      </div>
    </div>
  </header>
